<!DOCTYPE html>
<html lang="fr">
    <link rel="stylesheet" href="static/style1.css">
    <head>
        {% include 'header.html' %}
        <meta charset="UTF-8">
        <title>Aventure</title>
    </head>
    <body>
        <style type="text/css">
        body {
          background-image: url("/static/Alehandre.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          font-family: 'Lato', sans-serif;
          height: 100%;
          width: 100%;
        }
        </style>
        <main>
            <h1>Aventure</h1>

            <p>
            </p>
        </main>
    </body>
    <footer>
      {% include 'footer.html' %}
    </footer>
</html>