<!-- This is the final part of the character creation, the player has to choose an attribute to increase-->
<!-- And he has to decide if the character please him or not, he can start again if so-->

<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="static/style1.css">
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    <main>
       <form>
        <h1>Profession</h1>
        <br>
        <h2>{{ prof }}</h2>
        <h4>
          Alignement : {{ alignment }}
        <br>
        <br>
          Voici vos caractéristiques.
        <br>
          Laquelle voulez vous augmenter de 2 ?
        <br>
        <br>
          (18 étant le maximum)
        </h4>
        <h4>
          <br>Force        : {{ Fo }}
          <br>Dextérité    : {{ De }}
          <br>Constitution : {{ Co }}
          <br>Intelligence : {{ In }}
          <br>Sagesse      : {{ Sa }}
          <br>Charisme     : {{ Ch }}
<!--          <br><p>{{ fonction_test }}</p>-->
        </h4>

<!-- 18 points in an attribute is the maximum value at character creation-->

        <br>
        {% if Fo < 18 %}
        <label>
          <input type="radio" name="attribut" value="Force" checked>
          Ma force
        </label>
        {% else %}
        <label>
          <input type="radio" name="attribut" value="Force" disabled>
          Ma force
        </label>
        {% endif %}

        {% if De < 18 %}
        <label>
            {% if Fo < 18 %}
                <input type="radio" name="attribut" value="Dexterite">
            {% else %}
                <input type="radio" name="attribut" value="Dexterite" checked>
            {% endif %}
          Ma dextérité
        </label>
        {% else %}
        <label>
          <input type="radio" name="attribut" value="Dexterite" disabled>
          Ma dextérité
        </label>
        {% endif %}

        {% if Co < 18 %}
        <label>
          <input type="radio" name="attribut" value="Constitution">
            Ma constitution
        </label>
        {% else %}
        <label>
          <input type="radio" name="attribut" value="Constitution" disabled>
          Ma constitution
        </label>
        {% endif %}

        {% if In < 18 %}
        <label>
          <input type="radio" name="attribut" value="Intelligence">
          Mon intelligence
        </label>
        {% else %}
        <label>
          <input type="radio" name="attribut" value="Intelligence" disabled>
          Mon intelligence
        </label>
        {% endif %}

        {% if Sa < 18 %}
        <label>
          <input type="radio" name="attribut" value="Sagesse">
          Ma sagesse
        </label>
        {% else %}
        <label>
          <input type="radio" name="attribut" value="Sagesse" disabled>
          Ma sagesse
        </label>
        {% endif %}

        {% if Ch < 18 %}
        <label>
          <input type="radio" name="attribut" value="Charisme">
          Mon charisme
        </label>
        {% else %}
        <label>
          <input type="radio" name="attribut" value="Charisme" disabled>
          Mon charisme
        </label>
        {% endif %}

        <br><br><br>

           <h4>Quel est le nom de votre Maison ?</h4>
           <input type="text" name="chouse_name"><br><br>
           <h4>Quel est votre nom ?</h4>
           <input type="text" name="cname"><br><br>


<!--        <button onclick="fonction_test()">Valider</button>-->
        <button type="submit"><a href="adventure">Valider</a></button>
<!--        <button type="submit">Valider</button>-->
        <button><a href="naissance">Recommencer</a></button>
      </form>
    </main>
<!--      <script src="static/script.js"></script>-->
    <footer>
      {% include 'footer.html' %}
    </footer>
  </body>
</html>
