{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
        <form action="{{ url_for('game.adventure') }}" method="post" action>
            <div class="txt_question">
               <h4>Quel est le nom de votre Maison ?</h4>
               <input type="text" name="chouse_name" value="Maison" required><br><br>
               <h4>Quel est votre nom ?</h4>
               <input type="text" name="cname" value="Nom" required><br><br>
               <button type="submit">Valider</button>
            </div>
        </form>
{% endblock %}
