{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Naissance{% endblock %}</h1>
{% endblock %}

{% block content %}

  <p id="question_count" hidden>0</p>

  <div id="0" class="intro">
    <h3>Les Dieux ont disparus il y a peu.</h3>
    <h3>Sans eux, votre âme désincarnée n'a pas pu rejoindre le plan d'existence qui lui était déstiné.</h3>
    <h3>Vous voici de retour sur le plan matériel, au pays d'Iséa :  </h3>
    <h3>Une terre principalement peuplée d'humains gouvernés par de fiers et puissants seigneurs féodaux.</h3>
    <br><br>
    <h3>Vôtre esprit cherche désespérément une enveloppe qui pourrait lui convenir.</h3>
    <h3>Mais quelle sera-t-elle ?</h3>
  </div>

  <form action="{{ url_for('game.profession') }}" id="myForm" method="post">

  <div id="1" class="question" hidden>
    <h3>Qui étaient vos ancêtres ?</h3>

    <label>
      <input type="radio" name="ancestre" value="Noble" checked>
      <p>De nobles seigneurs</p>
    </label><br>

    <label>
      <input type="radio" name="ancestre" value="Riche">
      <p>De riches marchands</p>
    </label><br>

    <label>
      <input type="radio" name="ancestre" value="Fidele">
      <p>Des fidèles des dieux disparus</p>
    </label><br>

    <label>
      <input type="radio" name="ancestre" value="Misere">
      <p>Des miséreux</p>
    </label><br>

    <label>
      <input type="radio" name="ancestre" value="Orc">
      <p>Les descendants d'un Orc</p>
    </label><br>

    <label>
      <input type="radio" name="ancestre" value="Elf">
      <p>Les descendants d'un Elf</p>
    </label><br>
  </div>


  <div id="2" class="question" hidden>
    <h3>Au sein de quelle classe sociale avez-vous évolué ?</h3>

    <label>
      <input type="radio" name="soclasse" value="Aristocrate" checked>
      <p>Aristocratique</p>
    </label><br>

    <label>
      <input type="radio" name="soclasse" value="Bourgeois">
      <p>Bourgeoise</p>
    </label><br>

    <label>
      <input type="radio" name="soclasse" value="Roturier">
      <p>Roturière</p>
    </label><br>
  </div>

  <div id="3" class="question" hidden>
    <h3>Si l'on venait à vous provoquer en duel, comment régleriez-vous la situation ?</h3>

    <label>
      <input type="radio" name="classe" value="Fighter" checked>
      <p>Par le sang et l'acier</p>
    </label><br>

    <label>
      <input type="radio" name="classe" value="Caster">
      <p>Je ferai appel à ma magie</p>
    </label><br>

    <label>
      <input type="radio" name="classe" value="Expert">
      <p>Par le dialogue ou la ruse</p>
    </label><br>
  </div>

  <div id="4" class="question" hidden>
    <h3>Quel était votre rêve étant enfant ?</h3>

    <label>
      <input type="radio" name="reve" value="Renom" checked>
      <p>Être aimé et reconnu auprès de tous</p>
    </label><br>

    <label>
      <input type="radio" name="reve" value="Connaissance">
      <p>Comprendre tous les mystères de ce monde</p>
    </label><br>

    <label>
      <input type="radio" name="reve" value="Dieu">
      <p>Rencontrer une divinité légendaire</p>
    </label><br>

    <label>
      <input type="radio" name="reve" value="Vivre">
      <p>Vivre vieux et voir le monde se transformer</p>
    </label><br>

    <label>
      <input type="radio" name="reve" value="Pouvoir">
      <p>Être le plus puissant, héros ou tyran</p>
    </label><br>

    <label>
      <input type="radio" name="reve" value="Libre">
      <p>Être libre et éviter toute souffrance inutile</p>
    </label><br>
  </div>

  <div id="5" class="question" hidden>
    <h3>Une personne assez richement vêtue fait malencontreusement tomber sa bourse devant vous. Comment réagissez-vous ?</h3>

    <label>
      <input type="radio" name="alignement1" value="L" checked>
      <p>Je l'interpelle et lui rends sa bourse</p>
    </label><br>

    <label>
      <input type="radio" name="alignement1" value="N">
      <p>J'inspecte son contenu et me sers si besoin avant de la lui rendre</p>
    </label><br>

    <label>
      <input type="radio" name="alignement1" value="C">
      <p>Je la prends et pars aussi vite</p>
    </label><br>
  </div>

  <div id="6" class="question" hidden>
    <h4>Un jour, alors que vous vous promenez en forêt, vous tombez face à un animal blessé et immobilisé par un piège. Que faites-vous ?</h4>

    <label>
      <input type="radio" name="alignement2" value="G" checked>
      <p>Je libère et fais tout pour le soigner</p>
    </label><br>

    <label>
      <input type="radio" name="alignement2" value="N">
      <p>Je passe mon chemin, les chasseurs aussi ont une famille à nourrir</p>
    </label><br>

    <label>
      <input type="radio" name="alignement2" value="E">
      <p>Je torture cette vermine avant de me la cuisiner</p>
    </label><br>
  </div>

  <div id="7" class="question" hidden>
    <h3>Votre maison est en proie aux flammes !</h3>

    <label>
      <input type="radio" name="alignement3" value="G" checked>
      <p>Je sauve rapidement mes proches et je retourne braver les flammes pour sauver mon chien également</p>
    </label><br>

    <label>
      <input type="radio" name="alignement3" value="N">
      <p>Je sauve mes proches et j'évite de me mettre mortellement en danger</p>
    </label><br>

    <label>
      <input type="radio" name="alignement3" value="E">
      <p>Je prends mon or et je me tire !</p>
    </label><br>
  </div>

  <div id="8" class="question" hidden>
    <h3>Quel est votre avis sur la société bâtie par les humains ?</h3>

    <label>
      <input type="radio" name="alignement0" value="L" checked>
      <p>Sans loi ni hiérarchie, seul le chaos subsiste</p>
    </label><br>

    <label>
      <input type="radio" name="alignement0" value="N">
      <p>Seul un gouvernement juste et compétent peut permettre à tous de vivre pour le mieux</p>
    </label><br>

    <label>
      <input type="radio" name="alignement0" value="C">
      <p>Nous sommes nés sans chaînes et vierges d'esprit, jamais rien ne devrait entraver notre liberté</p>
    </label><br>
  </div>



    <button id="10" type="submit" class="submit_button" hidden>Suivant</button>
<!--    <button id="10" type="submit" hidden><a href="{{ url_for('game.profession') }}">Suivant</a></button>-->

  </form>

  <button id="9" onclick="nextQuestion()">Suivant</button>


  <script>
    function nextQuestion() {
        x = parseInt(document.getElementById("question_count").innerHTML)
        document.getElementById(x).hidden = true;
        document.getElementById(x+1).hidden = false;
        document.getElementById("question_count").innerHTML = x+1
        if (x == 7) {
        document.getElementById(9).hidden = true;
        document.getElementById(10).hidden = false;
      }
    }

const form = document.getElementById('myForm');
const submitButton = document.getElementById('10');

form.addEventListener('keydown', function(event) {
  if (event.key === 'Enter' && event.target !== submitButton) {
    event.preventDefault();
  }
});
  </script>

{% endblock %}