{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Language{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form action="{{ url_for('game.start') }}" id="myForm" method="post">

    <div id="1" class="question">
    <h3>Choose a language / Choisissez une langue</h3>

    <label>
      <input type="radio" name="language" value="fr" checked>
      <p>Français</p>
    </label><br>

    <label>
      <input type="radio" name="language" value="en">
      <p>English</p>
    </label><br>
    </div>

    <button type="submit" class="submit_button">Suivant</button>

  </form>
{% endblock %}
